/* 
    Color Palette: 
    #899499 - Classic Dark
    #217599 - BNB
    #217336 - TCB
    #91A092 - Pewter Green/Gray
*/
/* Note: Get links for buttons and beggin working on framework */
/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Main Content Styles */
header {
    text-align: center;
    background: linear-gradient(45deg, #217336, #217599);
    padding: 10px;
    border-bottom: 2px solid gold;
    color: black;
    text-shadow: #91A092 2px 2px 2px;
}
body { 
    background-color: #899499;
}
.app-tile { 
    height: 100px;
    width: 300px;
    background: linear-gradient(45deg, #217336, #217599);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 25px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.app-tile:hover { 
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
    border: 2px solid gold;
    color: whitesmoke;
}
.app-tile:active { 
    transform: scale(1.1);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
    background: linear-gradient(45deg, #217336, #91A092);
    color: whitesmoke;
}
/* Flag for sections of hub that are under construction */
.flag { 
    background: linear-gradient(45deg, gold, black, gold, black);
    color: rgb(255, 255, 255);
    padding: 5px;
    width: 100%;
    text-align: center;
    font-weight: bold;
    text-shadow: 0px 3px 3px black;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
}
/* Footer Styles */
footer { 
    text-align: center;
    background: linear-gradient(45deg, #217336, #217599);
    padding: 10px;
    border-top: 2px solid gold;
    position: fixed;
    bottom: 0;
    width: 100%;
}