
/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}
/* Main Content Styles */
header {
    text-align: center;
    padding: 10px;
    border-bottom: 2px solid gold;
    background: linear-gradient(to bottom, #217336, #217599);
    color: gold;
    text-shadow: 0px 3px 3px black;
}
body {
  margin: 0;
  height: 100vh;
  /* A 45-degree tilt for a dynamic feel */
  background: linear-gradient(#217599 0%, #217336 100%);
  background-attachment: fixed;
}
.app-tile { 
    height: 100px;
    width: 300px;
    border: .5px solid black;
    background: rgba(255, 217, 0, 0.75);
    border-radius: 10px;
    margin: 25px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.app-tile:hover { 
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
    background: linear-gradient(45deg, gold, #217336);
    border: 2px solid black;
    color: black;
}
.app-tile:active { 
    transform: scale(1.1);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
    background: linear-gradient(45deg, #217336, #217599);
    color: black;
}
/* Flag for sections of hub that are under construction */
.flag { 
    background: black;
    color: gold;
    padding: 5px;
    width: 100%;
    text-align: center;
    font-weight: bold;
    text-shadow: 0px 3px 3px brown;
    border-top: 2px solid rgba(255, 215, 0, 0.75);
    border-bottom: 2px solid rgba(255, 215,0, 0.75);
}
/* Footer Styles */
footer { 
    text-align: center;
    background: linear-gradient(to top, #217599, #217336);
    color: gold;
    padding: 10px;
    border-top: 2px solid gold;
    position: fixed;
    bottom: 0;
    width: 100%;
}