* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body { 
    font-family: sans-serif; 
    text-align: center;
    overflow-x: hidden;
    user-select: none;
    color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.5);
    background-image: url("images.png");
    background-size: cover;
    background-position: center;
}

.container {
    width: 100vw;
    height: 100vh;
}

.form-card { 
    background-color: #ed1c24;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    width: 90%;
    max-width: 600px;
    margin: 20px auto;
}

.form-card select, 
.form-card input[type="text"] { 
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
button { 
    background: rgba(0, 0, 0, 1);
    color: rgb(255, 255, 255);
    border: 1px solid #ccc;
    border-radius: 4px;
    height: 40px;
    width: 50%;
    font-size: 16px;
    margin: 10px auto;
}

table { 
    background-color: white;
    margin: 20px auto; 
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
}

th, td { 
    padding: 12px; 
    border-bottom: 1px solid #ed1c24;
    text-align: center;
    font-weight: 300;
    font-size: 15px;
}

th { 
    background: rgba(255, 255, 255, .5); 
    color: black;
    font-weight: bold;
    border: 1px solid #ccc;
}
option { 
    background-color: rgba(237, 28, 36, 0.7);
    border: 1px solid #ccc;
    color: black;
    font-weight: bold;
}
#inventoryDisplay {
    background-color: #ed1c24;
    border: 1px solid #ccc;
    padding: 20px; 
    border-radius: 8px; 
    box-shadow: 0 2px 10px rgba(0,0,0,0.1); 
    margin: 25px auto; 
    display: flex; 
    gap: 5px;
    flex-wrap: wrap;
    width: 99%;
}
.walk-in-only { 
    display: none;
}
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 2px;
    background-color: #000;
    border-top: 1px solid #ed1c24;
    font-size: 12px;
    color: #fff;
}
#inputGroup {
    display: flex;
    gap: 5px;
    align-items: center;
    flex-wrap: wrap;
}