* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/*
  body { 
    font-family: sans-serif; 
    text-align: center;
    overflow-x: hidden;
    user-select: none;
    color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.5);
    background-image: url("images.png");
    background-size: cover;
    background-position: center;
}
*/
/* ---- Main App Styles for the Header Body and Footer ----*/
header {
    text-align: center;
    padding: 10px;
    border-bottom: 2px solid silver;
    background: linear-gradient(to bottom, rgb(35, 7, 91), #217599);
    color: white;
    text-shadow: 0px 3px 3px black;
}
body {
  margin: 0;
  height: 100vh;
  background: linear-gradient(to bottom, #217599, rgb(35, 7, 91)) fixed;
}
footer { 
    text-align: center;
    background: rgb(35, 7, 91);
    color: silver;
    border-top: .5px solid silver;
    padding: .5px;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 20px;
}

/* ---- End Main App Styles for Header Body and Footer ----*/
.container {
    width: 100vw;
    height: 100vh;
}

.form-card { 
    background-color: #217599;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgb(35, 7, 91);
    width: 90%;
    max-width: 600px;
    margin: 20px auto;
}

.form-card select, 
.form-card input[type="text"] { 
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid rgb(35, 7, 91);
    border-radius: 4px;
    box-sizing: border-box;
}
button { 
    background: rgb(35, 7, 91);
    color: rgb(255, 255, 255);
    border: 1px solid rgb(35, 7, 91);
    border-radius: 4px;
    height: 40px;
    width: 50%;
    font-size: 16px;
    margin: 10px auto;
}

table { 
    background-color: #217599;
    margin: 20px auto; 
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
}

th, td { 
    padding: 12px; 
    border-bottom: 1px solid silver;
    text-align: center;
    font-weight: 600;
    font-size: 15px;
}

th { 
    background-color: #217599; 
    color: silver;
    text-shadow: 1px 1px 1px black;
    font-weight: bold;
    border: 1px solid rgb(35, 7, 91);
}
option { 
    background-color: #217599;
    border: 1px solid rgb(35, 7, 91);
    color: black;
    font-weight: bold;
}
#inventoryDisplay {
    background-color: #217599;
    border: 1px solid rgb(35, 7, 91);
    padding: 20px; 
    border-radius: 8px; 
    box-shadow: 0 2px 10px rgba(0,0,0,0.1); 
    margin: 25px auto; 
    display: flex; 
    gap: 5px;
    flex-wrap: wrap;
    width: 99%;
}
.walk-in-only { 
    display: none;
}

#inputGroup {
    display: flex;
    gap: 5px;
    align-items: center;
    flex-wrap: wrap;
}