* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body { 
    font-family: sans-serif; 
    text-align: center;
    overflow-x: hidden;
    margin: 1px auto;
    padding: 1px;
}

.container {
    background: green;
    width: 450px;
    height: 850px;
    
}

.form-card { 
    background: red; 
    padding: 20px; 
    border-radius: 8px; 
    box-shadow: 0 2px 10px rgba(0,0,0,0.1); 
    margin-bottom: 20px; 
    display: flex; 
    gap: 10px;
    flex-wrap: wrap;
    width: 500px;
}

select { 
    padding: 8px; 
    border: 1px solid #ddd; 
    border-radius: 4px;
    width: 48%;

}
input {
    padding: 8px; 
    border: 1px solid #ddd; 
    border-radius: 4px;
    width: 222px;
  
}
button { 
    background: #22a257; 
    color: white; 
    border: none; 
    padding: 10px 20px; 
    border-radius: 4px;
    width: 240px; 
    cursor: pointer; 
}

table { 
    background: #f4f7f6; 
    margin: 20px auto; 
    border-collapse: collapse;
}

th, td { 
    padding: 12px; 
    border-bottom: 1px solid goldenrod;
    text-align: center;
}

th { 
    background: #34495e; 
    color: white;
}

.walk-in-only { 
    display: none;
}