* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body { 
    font-family: sans-serif; 
    text-align: center;
    overflow-x: hidden;
    margin: 1px auto;
    padding: 1px;
}

.container {
    background: linear-gradient(45deg, #217336, #217599);
    width: 450px;
    height: 850px;

}

.form-card { 
    background: #f4f7f6; 
    padding: 1px; 
    border-radius: 8px; 
    box-shadow: 0 2px 10px rgba(0,0,0,0.1); 
    margin: 5px auto; 
    display: flex; 
    gap: 5px;
    flex-wrap: wrap;
    width: 90%;
    contain: content;
}

select { 
    padding: 8px; 
    border: 1px solid #ddd; 
    border-radius: 4px;
    width: 48%;

}
input {
    padding: 8px; 
    border: 1px solid #ddd; 
    border-radius: 4px;
    width: 49%;
  
}
button { 
    background: #22a257; 
    color: white; 
    border: none; 
    padding: 10px 20px; 
    border-radius: 4px;
    width: 39%;
    cursor: pointer;
}

table { 
    background: #f4f7f6; 
    margin: 20px auto; 
    border-collapse: collapse;
    user-select: none;
    table-layout: fixed;
    width: 100%;
}

th, td { 
    padding: 12px; 
    border-bottom: 1px solid goldenrod;
    text-align: center;
    font-weight: 300;
    font-size: 15px;
}

th { 
    background: #34495e; 
    color: white;
}

#inventoryDisplay {
    background: #f4f7f6; 
    padding: 20px; 
    border-radius: 8px; 
    box-shadow: 0 2px 10px rgba(0,0,0,0.1); 
    margin: 25px auto; 
    display: flex; 
    gap: 5px;
    flex-wrap: wrap;
    width: 90%;
}
.walk-in-only { 
    display: none;
}