* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body { 
    font-family: sans-serif; 
    text-align: center;
    overflow-x: hidden;
    user-select: none;
}

.container {
    background: linear-gradient(45deg, #217336, #217599);
    width: 100vw;
    height: 100vh;
}

.form-card { 
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    width: 90%;
    max-width: 600px;
    margin: 20px auto;
}

.form-card select, 
.form-card input[type="text"] { 
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
button { 
    background: #28a745;
    color: white;
    padding: 12px 20p;
    border: none;
    border-radius: 4px;
    height: 40px;
    width: 50%;
    font-size: 16px;
    transform: translateY(-40px) translateX(90px);
}

table { 
    background: #f4f7f6; 
    margin: 20px auto; 
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
}

th, td { 
    padding: 12px; 
    border-bottom: 1px solid goldenrod;
    text-align: center;
    font-weight: 300;
    font-size: 15px;
}

th { 
    background: #34495e; 
    color: white;
}

#inventoryDisplay {
    background: #f4f7f6; 
    padding: 20px; 
    border-radius: 8px; 
    box-shadow: 0 2px 10px rgba(0,0,0,0.1); 
    margin: 25px auto; 
    display: flex; 
    gap: 5px;
    flex-wrap: wrap;
    width: 99%;
}
.walk-in-only { 
    display: none;
}
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 2px;
    background-color: #34495e;
    border-top: 1px solid goldenrod;
    font-size: 12px;
    color: goldenrod;
}